@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  color: "#302F33";
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
